click==6.7
cycler==0.10.0
Flask==0.12.2
imutils==0.4.5
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
matplotlib==2.1.1
numpy==1.14.0
opencv-python==3.4.0.12
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
RPi.GPIO==0.6.3
six==1.11.0
Werkzeug==0.14.1
