<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title>IoT Alarm</title>
</head>
<body>
    <h1>Alarm System</h1>
    <br>
    <h3>Status</h3>
    <table>
        <tr>
            <td><b>Alarm</b></td>
            <td> </td>
            <td>: {{ page_vars['alarm_status'] }}</td>
            <td> </td>
            <td>
                <form action="/alarm_toggle" method="get">
                    <button>On/Off</button>
                </form>
            </td>
        </tr>
        <tr>
            <td><b>Lights</b></td>
            <td> </td>
            <td>: {{ page_vars['lights_status'] }}</td>
            <td> </td>
            <td>
                <form action="/lights_toggle" method="get">
                    <button>On/Off</button>
                </form>
            </td>
        </tr>
    </table>

    <h3>Door openings</h3>
    <table style="border: 1px solid black;">
        <tr style="border: 1px solid black;">
            <th>Door</th>
            <th>Time</th>
        </tr>
        {% for item in page_vars['door_log'] %}
        <tr style="border: 1px solid black;">
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>