<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title>IoT Alarm</title>
</head>
<body>
    <h1>Alarm System</h1>
    <br>
    <h3>Status</h3>
    <b>Alarm</b>
    {{ page_vars['alarm_status'] }}
    <form action="/alarm_toggle" method="get">
        <button>On/Off</button>
    </form>
    <br>
    <b>Lights</b>
    <table>
        {% for lights in page_vars['lights_status'] %}
            <tr>
                <td>{{ lights }}</td>
                <td>
                    <form action="/lights_toggle?nr={{ forloop.counter }}" method="get">
                        <button>On/Off</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <h3>Door Openings</h3>
    <table style="border: 1px solid black; width: 450px;">
        <tr>
            <th style="border: 1px solid black; width: 100px">Door</th>
            <th style="border: 1px solid black; width: 350px">Time</th>
        </tr>
        {% for item in page_vars['door_log'] %}
        <tr>
            <td style="border: 1px solid black;">{{ item[0] }}</td>
            <td style="border: 1px solid black;">{{ item[1] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h3>Camera Motion Detected</h3>
    <table style="border: 1px solid black; width: 450px;">
        <tr>
            <th style="border: 1px solid black; width: 100px">Camera</th>
            <th style="border: 1px solid black; width: 350px">Time</th>
        </tr>
        {% for item in page_vars['camera_log'] %}
        <tr>
            <td style="border: 1px solid black;">{{ item[0] }}</td>
            <td style="border: 1px solid black;">{{ item[1] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>